/* селекторы */
/* 1.универсальный селектор. Применяется для всех тегов body */
* {
    text-transform: uppercase;

}

/* 2.селектор по тегу (по элементу). Применяется только для конкретного названия тега */
div {
    border-radius: 16px;
}

/* 3.селектор по идентификатору. Применяется для тега с заданным атрибутом id */
#link {
    cursor: progress;
}

/* 4.селектор по классу. Применяется для всех тегов с заданным значением атрибута class*/
.test {
    border: 2px solid black;
}
.test2 {
    background: forestgreen;
}

/* 5.селектор по атрибуту. Применяется для всех тегов с заданным значением атрибута: =, ~=, -=, ^=, $=, |=, *=          */
a[href] {
    padding: 20px;
}

a[href="#"] {
    padding: 25px;
}


/* Комбинированные селекторы(комбинаторы) */
/* 1. Запятая(,) - все совпадающие под заданные селекторы */
#link, .test, a[href] {
    font-size: 16px;
}

/* 2. Пробел - стили применятся для всех тегов p внутри тега с id="link", вне зависимости от уровня вложенности */
#link p {
    color: blueviolet;
}

/* 3. Знак больше(>) - стиль будет применяться для всех тегов p, являющиеся непосредсвенными потомками тега с id="link" */
#link > p {
    color: blue;
}

/* 4. Знак тильды(~) - применяется для всех тегов a, которые расположены после тега div внутри одного родителя */
div ~ a {
    color: aqua;
}

/* 5. Зкак плюс(+) - применяется для тега a, который стоит сразу после тега span */
span + a {
    color: brown;
}

/* Псевдокласс */
p:hover {
    background: gray;
}
a:visited {
    color: gold;
}