div {        /* селектор по тегу */ /* Специфичность 0-0-0-1=1(убираем дефисы) */
    font-size: 48px;
    color: red !important; /* !important - задает максимально возможную специфичность для данного св-ва */
}

#world {    /* селектор по айди */ /* Специфичность 0-1-0-0=100(убираем дефисы) */
    color: yellow;
}

div#world {  /* 0-1-0-1=101 */
    color: green !important;
}

/* Специфичность. Задается 4-мя числовыми значениями */
/* 1-0-3-4 - пример */
/*
1 число - наличие у элемента атрибута style
2 число - наличие и количество на данный момент в селекторе идентификаторов (#id)
Пример:
#id1 > #id2 {}
0-2-0-0
3 число - наличие и количество классов в селекторе (.class)
Пример:
#id1 ~ .class1 .class2
0-1-2-0
4 число - наличие и количество в селекторе элементов(тегов) и атрибутов
Пример:
div > .class1 p > a.class2 #id {}
0-1-2-3  (3 потому что div, p, a = 3 штуки)
*/

#normal {
    /* position отвечает за положение элеметнов на странице */
    position: static; /* статик - в нормальном потоке */
    /* inherit - значение св-ва position будет наследоваться от родительского блока */
    /* initial - значение по умолчанию, установленное браузером для этих элементов */
}

#relative {
    position: relative; 
    /* relative сохраняет отрисовку элеметнов в нормальном потоке, но при этом позволяет перемещать эти элементы по осям(x,y)
    Перемещение по осям задается при помощи св-в top, bottom, left, right*/
    top: 100px;
    left: 200px;
}

#fixed {
    /* fixed убирает элементы из нормального потока и позиционирует их относительно браузера.
    начальная позиция задается исходя из их положения в нормальном потоке. положение элементов можн изменить при помощи св-в top, bottom, left, right */
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    border-radius: 50%;
    padding: 20px;
}

body {
    height: 2000px;
}

#absolute {
    /* absolute убирает элементы из нормального потока и позиционирует их относительно документа.
    начальная позиция задается исходя из их положения в нормальном потоке. положение элементов можн изменить при помощи св-в top, bottom, left, right */
    position: absolute;
    background: darkgreen;
    padding: 100px;
    top: 50px;
    left: 100px;
    z-index: 1; /*макс значение=9999*/
}

#absolute2 {
    /* absolute убирает элементы из нормального потока и позиционирует их относительно документа.
    начальная позиция задается исходя из их положения в нормальном потоке. положение элементов можн изменить при помощи св-в top, bottom, left, right */
    position: absolute;
    background: gold;
    padding: 50px;
    top: 280px;
    left: 250px;
}

/* Цвета в css */
/* цвета в css можно задавать 3мя способами:
- при помощи названия цвета(red)
- при помощи 16-ричного кода цвета(#FAF1AB, #FA1)
r = 12, g = 134, b = 67 - #0C8643
#FA1 = #FFAA11
- при помощи псевдофункций rgb и rgba(hls, )
rgb(144, 34, 89)
rgba(123, 56, 89, 0.7)
*/

p {
    background: #0C8643;
    color: #FFAA11;
    color: #FA1;
    background: rgba(123, 56, 89, 0.7)
}